<p>Nom:</p><input [(ngModel)] = "nom"/>
<p>Prenom:</p><input [(ngModel)] = "prenom"/>
<p>Adresse:</p><input [(ngModel)] = "adresse"/>
<p>Code postal:</p><input [(ngModel)] = "codepostal"/>
<p>Ville:</p><input [(ngModel)] = "ville"/>
<p>Adresse mail:</p><input [(ngModel)] = "email"/>
<p>Civilité:</p><input [(ngModel)] = "civilite"/>
<p>Password:</p><input [(ngModel)] = "password"/>
<p>Login:</p><input [(ngModel)] = "login"/>
<p>Pays:</p><input [(ngModel)] = "pays"/>

<button (click)="generateRecap()">Valider</button>
<p>Le recap : {{recap}}</p>